.header{
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  box-shadow:4px 4px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 0;
  z-index: 2;
  align-items: center;
  padding: 1vh 0;
}

.header > * {
  cursor: pointer;
}

.hamburger{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  cursor: pointer;
}

.hamLine{
  width: 1.5rem;
  height: 5px;
  background-color: black;
  margin: 5% 0;
  transition: all .2s cubic-bezier(1, 0, 0, 1);
}

.container{
  display: flex;
  flex-wrap: wrap;
}

.cross1{
  transform: rotate(-405deg) translate(-5px, 5px);
  width: 1.5rem;
}

.cross2{
  opacity: 0;
}

.cross3{
  transform: rotate(405deg) translate(-5px, -5px);
  width: 1.5rem;
}

input[type=text] {
  padding: 6px;
  font-size: 1rem;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-container button {
  float: right;
  padding: 6px 6px;
  margin-right: 16px;
  background: #ddd;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-container button:hover {
  background: #ccc;
}

.container > *{
  align-self: center;
}

.signup-text{
  padding: 0.5rem 1.5rem;
  border-radius: 1.2rem;
  cursor: pointer;
  font-weight: bolder;
  border: none;
}

.signup-text:hover{
  background-color: #ccc;
}

.loginBtn{
  padding: 0.5rem 1.5rem;
  border-radius: 1.2rem;
  cursor: pointer;
  font-weight: bolder;
}

.loginBtn:hover{
  background-color: #ccc;
}


@media(min-width: 480px) {
  .header{
    justify-content: space-between;
  }

  .hamburger{
    margin-left: 0.2rem;
  }

  .container{
    margin-right: 0.2rem;
  }
}
