.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  z-index: 30;
}
.overlay:target {
  visibility: hidden;
  opacity: 0;
  display:none
}
.popup {
  position: relative;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  min-width: 70%;
  transition: all 5s ease-in-out;
}

.popup .close{
  position: absolute;
  top: 5%;
  right: 5%;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333; 
  cursor: pointer;
}

.popup .content{
  min-height: 30%;
  overflow: auto;
}

.content{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content > *{
  padding: 0.5rem 0;
}

.social-box{
  display: flex;
}

.social-box > *{
  margin: 1rem;
  padding: 0.25rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
}

.rightArrow{
  padding: 0.4rem;
}

.legend-slogan{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

@media(min-width: 480px) {
  .popup{
    width: 40%;
  }
}