.form-input {
    padding: 0.7rem 1rem;
    border: 1px solid #e0dede;
    border-color: #e0dede;
    outline: none;
    border-width: 1px;
    box-shadow: none;
    border-radius: none;
    box-sizing: border-box;
    background-color: #fff;
}