.order-success-header {
    text-align: center;
    font-size: 5rem;
    letter-spacing: 0.2rem;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    font-family: 'Nunito';
}
.order-complete-text {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}
.order-sucess-detail {
    margin: auto;
    width: 22rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    background-color: lightgray;
    padding: 1rem;
    font-weight: 400;
    border-radius: 5rem;
}
.order-success-wrapper {
    text-align: center;
    margin-top: 5rem;
}
.order-success-card{
    width: 90rem;
    margin: auto;
    border: solid 1px lightgray;
    padding: 5rem;
    box-sizing: border-box;
}
.order-success-mark {
    font-size: 8rem;
    color: green;
}
.success-order-contact {
    margin-top: 3rem;
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
}

@media(max-width:768px) {
    .order-success-card {
      width: 70rem;
    }
}
@media(max-width:425px) {
    .order-success-card {
      width: 30rem;
    }
}

