.mobile-verification {
    position: fixed;
    top: 30%;
    left: 37%;
    z-index: 100;
}
.arrival-header {
    text-align: center;
    margin: 3rem 0;
    color: white;
}
.arrival-heading {
    font-size: 4rem;
    font-family: 'Nunito';
    padding: 0;
    margin: 0;
    letter-spacing: 0.2rem;
}