.main-app-check {
    background-color: black;
    height: 100%;
    opacity: 0.5;
}
.main-app {
    background-color: black;
    height: 100%;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;   
    height: 100%;
}


@media(max-width:425px) {
    html {
        width: 100%;
    }
  }
