.main {
    // margin-top: 7rem;
    padding: 8rem 0 5rem 0;
    background-color: white;
    min-height: 70vh;
}
.address-detail-modal {
    margin: auto;
    border: 1px solid black;
    padding: 2rem;
     width: 60rem; 
    /* max-width: 106rem; */
    background-color: #fff;
    position: fixed;
    top: 10%;
    left: calc(50% - 30rem);
    // bottom: 40%;
   z-index: 100;
}